.main{
    margin-bottom: 80px;
}

.inputTitle{
    width: 800px;
    height: 28px;
}

textarea{
    height: 200px;
}

.inputDate{
    width: 200px;
    height: 30px;
}

button{
    margin: 40px 0;
    width: 240px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px cornflowerblue solid;
    border-radius: 4px;
    font-size: 18px;
}
button:hover{
    background: cornflowerblue;
}