.main {
    padding: 100px;
    width: calc(100% - 300px);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 100px;
}


.titleArea {
    height: 40px;
}

.completed {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.deleted {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.deleted:hover {
    background: red;
}

button {
    margin: 40px 0;
    width: 240px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px cornflowerblue solid;
    border-radius: 4px;
    font-size: 18px;
}

label {
    margin-bottom: 10px;
}

.inputDate {
    width: 200px;
    height: 30px;
}


@media screen and (max-width: 706px) {
    .main {
        display: flex;
        flex-direction: column;
        width: calc(100% - 200px);
    }
    .titleArea {
        width: 100%;
    }
    .changesActions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputDate {
        width: 100%;
    }
    textarea{
        width: 100%;
    }
}

@media screen and (max-width: 445px) {
    .main {
        padding: 20px;
        width: calc(100% - 40px);

    }
}
