.main{
    padding: 40px 100px;
}

.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 40px;
    margin-bottom: 150px;
}

.addButton{
    border: 3px black solid;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.addButton:hover{
    background: cornflowerblue;
}